@font-face {
    font-family: "Space Grotesk";
    src: url("SpaceGrotesk[wght].woff2") format("woff2");
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    line-height: 1.3;
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    max-width: 600px;
}


/****
header
****/


.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: currentColor;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 10px;
}

.nav a span{
    padding: 12px;
    display: block;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    background: #f1f1f1;
}


/****
page projet
****/


.projet{
    background-color: rgb(106, 195, 255);
}

.projet h1{
    font-size: 25px;
    font-family: "Space Grotesk";
}

